

<h1> Hello </h1>

<% @blog_posts.each do |blog_post| %>
    <div class="border-4 border-purple-600 p-2 rounded m-2">
        <% if blog_post.draft? %>
            <div class="p-2 rounded bg-orange-300 text-white"> Draft </div>
        <% end %>
        <% if blog_post.scheduled? %>
            <div class="p-2 rounded bg-yellow-300 text-white"> Scheduled </div>
        <% end %>
        <h2><%= link_to blog_post.title, blog_post %></h2>
        <h2><%= blog_post.content %></h2>
    </div>
<% end %>